:root {
    /* COLOR SCHEME */
    --bg-primary-color: #f0f0f0;
    --bg-secondary-color: #555;
    --container-primary-color: #ffba60;
    --container-secondary-color: #ff9914;
    --container-tertiary-color: #ca9d62;
    --container-quaternary-color: #777;
    --text-primary-color: #333;
    --text-secondary-color: #555;
    --text-tertiary-color: lightgray;
    --title-color: #ff9914;
    --subtitle-color: #ffba60;


/*     --container-primary-color: #ff8800a9;
    --container-secondary-color: #f03232ab; */


/*     --container-primary-color: #ff8800ad;
    --container-secondary-color: #ffa600ad; */


/*     --container-primary-color: #7464ccb2;
    --container-secondary-color: #9564ccb2; */


/*     --bg-primary-color: #e9ebee;
    --container-primary-color: #3b5998;
    --container-secondary-color: #516ead;
    --text-primary-color: #d3dff0;
    --text-secondary-color: #9cb4d8; */

/*     --bg-primary-color: #eeede9;
    --container-primary-color: #ffa844;
    --container-secondary-color: #ffb765;
    --text-primary-color: #3d3b38;
    --text-secondary-color: #635f5b;  */
   
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

#title {
    text-align: center;
    margin-bottom: 15px;
}
#title a {
    text-align: center;
    text-decoration: none;
    color: var(--title-color);
    font-size: 2em;
    font-weight: bold;
}

#title a:hover {
    font-size: 2.05em;
    color: var(--subtitle-color);
}

#master-container {
    margin: 0px auto;
    text-align: left;
    margin-top: 25px;
    width: 75%;
    min-width: 780px;
    max-width: 1200px;
    height: 600px;
}

#left-bar {
    float: left;
    display: inline-block;
    width: 15%;
    min-width: 140px;
    height: 100%;
}

#center-bar {
    float: left;
    display: inline-block;
    width: 60%;
    min-width: 410px;
    height: 100%;
    margin: 0px 2%;
}

#right-bar {
    float: left;
    display: inline-block;
    width: 15%;
    min-width: 140px;
    height: 100%;
}

.bar-header {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 1.2em;
}

#left-content {
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--container-primary-color);
    height: 100%;
    width: 100%;
}

#center-content {
    padding-top: 10px;
    background-color: var(--container-secondary-color);
    height: 100%;
    width: 100%;
}

#right-content {
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--container-primary-color);
    height: 100%;
    width: 100%;
}

#left-content:hover, #center-content:hover, #right-content:hover {
    /*background-color: var(--container-secondary-color);*/
}

#left-content ul {
    list-style: none;
    /*text-indent: -20px;*/
    padding: 0;
}

#left-content ul li {
    display: block;
    padding: 10px 5px;
}

#left-content a {
    color: var(--text-primary-color);
    text-decoration: none;
}

#left-content ul li:hover {
    background-color: var(--container-secondary-color);
}

.profile-container {
    margin: 10px 0px;
    padding: 10px;
    border-bottom: 3px solid var(--container-primary-color);
    cursor: pointer;
}

.profile-container:hover {
    background-color: var(--container-primary-color);
}

.profile-name {
    font-weight: bold;
}

.go-active-link {
    padding: 5px 5px;
    cursor: pointer;
}

.go-active-link:hover {
    background-color: var(--container-secondary-color);
}

.go-active-subtext {
    font-size: 0.8em;
    color: var(--text-secondary-color)
}