:root {
    /* COLOR SCHEME */
    --btn-text-color: rgba(255, 255, 255, 1.0);
    --btn-primary-color: rgba(93, 121, 179, 0.63);
    --btn-border-color: rgba(219, 219, 219, 0.4);
    --btn-visited-color: rgba(255, 255, 255, 1.0);
    --btn-link-color: rgba(255, 255, 255, 1.0);
    --btn-hover-color: rgba(93, 121, 179, 0.8);
    --btn-active-color: rgba(255, 255, 255, 1.0);
    --header-primary-color: rgba(219, 219, 219, 0.8);
    --btn-shadow-color: rgba(219, 219, 219, 1.0);
  }


.user-header{
    overflow: hidden;
    background-color: var(--header-primary-color);
    min-width: 870px;
    display: flex;
    /*margin-right: 1%;*/
}
.profile-navigation-grid{
    display: flex;
    flex: 1;
}
.profile-col{
    flex: 1;
    padding: 9px 0px 0px 0px;
    max-width: 100px;
}
.profile-col:first-child{
    padding-left: 10px;
    padding-top: 2px;
}
.profile-col img{
    width: 20%;
    border-radius: 30px;
    max-width: 35px;
    min-width: 35px;
}
.form-wrapper {
    padding: 5px 5px 5px 0px;
}
.form-wrapper table{
    text-align: right;
    flex: 1;
}
.custom-button1{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    background-color: var(--btn-primary-color);
    padding: 0px 6px;
    border: solid 2px;
    border-color: var(--btn-border-color);
    border-radius: 5px;
    height: 23px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-attachment: fixed;
    color: var(--btn-text-color);
}
.custom-button1:link{
  color: var(--btn-link-color);
}
.custom-button1:visited{
    color: var(--btn-visited-color);
}
.custom-button1:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px grey;
}
.custom-button1:active{
    color: var(--btn-active-color);
}
