
.user-header{
    overflow: hidden;
    background-color: #f0f0f06b;
    min-width: 870px;
    display: flex;
    /*margin-right: 1%;*/ 
}
.profile-navigation-grid{
    display: flex;
    flex: 1;
}
.profile-col{
    flex: 1;
    padding: 9px 0px 0px 0px;
    max-width: 100px;
}
.profile-col:first-child{
    padding-left: 10px;
    padding-top: 2px;
}
.profile-col img{
    width: 20%;
    border-radius: 30px;
    max-width: 35px;
    min-width: 35px;   
}
.form-wrapper {
    padding: 5px 5px 5px 0px;
}
.form-wrapper table{
    text-align: right;
    flex: 1;
}
.custom-button1{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    background-color: #ff8800a9;
    color: white;
    padding: 0px 6px;
    border: solid 2px #ff8800a9;
    height: 23px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
}
.custom-button1:link{
    color: white;
}
.custom-button1:visited{
    color: white;
}
.custom-button1:hover{
    background-color: #ff9914;;
    cursor: pointer
}
.custom-button1:active{
    color: white;
}
