.main-form form {
    width: 80%;

}

.center-form input[type=email] {
    width: 100%;
}

.main-form input, .main-form select{
    border: 1px var(--container-tertiary-color) solid;
    background-color: var(--container-primary-color);
    color: var(--text-primary-color);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 2px;
}

.main-form input:focus, .main-form select:focus, .custom-button2:focus {
    background-color: var(--container-tertiary-color);
    border-color: var(--container-primary-color);
}

/* .main-form input[type=submit] {
    border: 1px var(--container-tertiary-color) solid;
    background-color: var(--container-primary-color);
    color: var(--text-primary-color);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 2px;
} */

.main-form td {
    margin: 0px 20px;
}

.login-option:not(:last-child){
    text-align: center !important;
}
.login-option img{
    width: 20px;
}
.table-layout{
    width: 80%;
    margin: auto;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}

.text-right{
    text-align: right;
}
.custom-button2{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    border: 1px var(--container-tertiary-color) solid;
    background-color: var(--container-primary-color);
    color: var(--text-primary-color);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
    font-family: Arial,Helvetica,sans-serif;
}
.custom-button2:link{
    color: var(--text-primary-color);
}
.custom-button2:visited{
    color: var(--text-primary-color);
}
.custom-button2:hover{
    background-color: var(--container-secondary-color);
    cursor: pointer;
}
.custom-button2:active{
    color: var(--text-primary-color);
}
