:root {
    /* COLOR SCHEME */
    --bg-primary-color: rgba(255, 255, 255, 1.0);;
    --bg-secondary-color: rgba(85, 85, 85, 1.0);
    --container-primary-color: rgba(204, 204, 204,0.5);
    --container-secondary-color: rgba(219, 219, 219,0.5);
    --container-tertiary-color: rgba(147, 176, 235, 0.5);
    --container-quaternary-color: rgba(119, 119, 119, 1.0);
    --text-primary-color: rgba(51, 51, 51, 1.0);;
    --text-secondary-color: rgba(63,63,63,0.85);
    --text-tertiary-color: rgba(255,255,255,1.0);;
    --title-color: rgba(93, 121, 179, 0.63);
    --subtitle-color: rgba(93, 121, 179, 0.8);
    --btn-text-color: rgba(255, 255, 255, 1.0);
    --btn-primary-color: rgba(93, 121, 179, 0.63);
    --btn-border-color: rgba(219, 219, 219, 0.4);
    --btn-visited-color: rgba(255, 255, 255, 1.0);
    --btn-link-color: rgba(255, 255, 255, 1.0);
    --btn-hover-color: rgba(93, 121, 179, 0.8);
    --btn-active-color: rgba(255, 255, 255, 1.0);
    --header-primary-color: rgba(219, 219, 219, 0.8);
    --btn-shadow-color: rgba(219, 219, 219, 1.0);
    --message-ingoing-color: rgba(147, 176, 235, 0.5);
    --message-outgoing-color: rgba(93, 121, 179, 0.8);
}
/*@media (max-width:800px) {
    .profile-col:nth-child(3){
        margin-left: 6%;
    }
}*/
html {
    overflow: hidden;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
#title {
    text-align: center;
    margin-bottom: 20px;
}
#title a {
    text-align: center;
    text-decoration: none;
    color: var(--title-color);
    font-size: 2em;
    font-weight: bold;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
#title a:hover {
    color: var(--subtitle-color);
}
#master-container {
    margin: 0px auto;
    text-align: left;
    margin-top: 25px;
    width: 75%;
    min-width: 870px;
    max-width: 1920px;
    height: 600px;
    margin-bottom: 20%;
}
#left-bar {
    float: left;
    display: inline-block;
    width: 15%;
    min-width: 150px;
    height: auto;
    min-height: 600px;
    box-shadow: 5px 0px 20px 12px grey;
    background-color: var(--container-primary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#center-bar {
    float: left;
    display: inline-block;
    width: 60%;
    min-width: 500px;
    height: auto;
    min-height: 600px;
    margin: 0px 2%;
    box-shadow: 0px 0px 20px 10px grey;
    background-color: var(--container-secondary-color);
}
#right-bar {
    float: left;
    display: inline-block;
    width: 15%;
    min-width: 150px;
    height: auto;
    min-height: 600px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--container-primary-color);
    box-shadow: -5px 0px 20px 12px grey;
}
.bar-header {
    color: var(--text-secondary-color);
    text-align: center;
    font-size: 1.2em;
}
#left-content ul {
    list-style: none;
    text-indent: -30px;
}
.nav-divider{
    padding: 0px 15px;
}
.nav-city-dropdown li{
    margin: 5px auto;
}
#center-content{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;	
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-bottom: 2%;
}
.prof-container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    color: var(--text-primary-color);
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;	
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: 10px 10px;
    padding: 0px 0px;
    width: 120px;
    height: 150px;
    background-color: var(--bg-primary-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-decoration: none;
    /* box-shadow: 0px 0px 10px 2px gray; */
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.prof-container:hover {
    /* background-color: var(--container-secondary-color); */
    box-shadow: 0px 7px 8px -5px gray;
}
.prof-container .user-pic{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
    background-color: var(--btn-primary-color);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0px 3px 4px 0px var(--btn-hover-color);
}
.prof-container .user-pic img{
    width: 75px;
    height: 75px;
    border-radius: 35px;
}

.prof-container .user-info{
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: stretch;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;	
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.filter-buddy{
    width: 95%;
    margin: 1% auto;
}
.filter-buddy input{
    width: 100%;
}
.friend-container{
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;	
    flex-direction: row;
    justify-content: space-evenly;
}
.user-name {
    font-weight: bold;
    font-size: medium;
}
.profile-verified, .profile-tag, .user-name{
    flex: 1;
}
.user-header{
    overflow: hidden;
    background-color: var(--header-primary-color);
    min-width: 870px;
    display: flex;
    height: 41px;
    box-shadow: 0px 0px 10px 0px gray;
}
.profile-navigation-grid{
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}
.lang{
    margin: 0 !important;
}
.profile-col{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    padding: 0;
    /* max-width: 150px; */
    margin: 0 0 0 2%;
}
.profile-col:first-child{
    padding-left: 10px;
    padding-top: 2px;
    margin-right: 5%;
}
.profile-col img{
    width: 20%;
    border-radius: 30px;
    max-width: 40px;
    min-width: 40px;
}
.form-wrapper {
    padding: 0 !important;
    margin: 0 0 0 auto !important;
}
.form-wrapper table{
    text-align: right;
    flex: 1;
}

.form-wrapper table .custom-button1{
    padding: 3% 5px;
}
.main-form form {
    display: inline;
}
.center-form input[type=email] {
    width: 100%;
}
.main-form input, .main-form select{
    /* border: 1px var(--container-tertiary-color) solid; */
    border: none;
    outline: none;
    background-color: var(--container-primary-color);
    color: var(--text-primary-color);
    font-size: 1.2em;
    /* padding: 5px; */
    margin-top: 2px;
    /* border-radius: 5px; */

}
.main-form input:focus, .main-form select:focus, .custom-button2:focus {
    background-color: var(--container-tertiary-color);
    border-color: var(--container-primary-color);
}
.main-form td {
    margin: 0px 20px;
}
.register-options{
    flex: 1;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;	
    flex-direction: column;
}
.login-option{
    width: 100%;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6px 15px -15px gray;
    margin: 5px auto 25px auto;
}
.login-option img{
    vertical-align: middle;
    width: 35px;
}
.login-option:last-child{
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;	
    flex-direction: column;
}
.form-login-divider{
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;	
    flex-direction: row;
    margin: 20px auto;
    width: 95%
}
.form-login-divider:last-child {
    justify-content: space-between;
    margin: 45px auto 25px auto;
}
.form-login-divider:nth-child(4) > select{
    flex: 1;
}
.form-login-divider input{
    width: 100%
}
.form-login-divider .split-input{
    width: 60%
}
.form-login-divider .split-buttons{
    width: auto;
    margin: auto 10px;
}
.go-active-link {
padding: 5px 5px;
cursor: pointer;
}
.go-active-link:hover {
background-color: var(--container-primary-color);
}
.go-active-subtext {
font-size: 0.8em;
color: var(--text-secondary-color)
}

.form-wrapper form .custom-button1{
    padding: 3% 5px;
}

/* CUSTOM BUTTONS */

.custom-button1{
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    background-color: var(--btn-primary-color);
    /* padding: 12% 5px; */
    padding: 12px 5px;
    /* border: solid 2px; */
    /* border-top: none; */
    border:none;
    outline: none;
    /* border-color: var(--btn-border-color); */
    height: 100%;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    background-attachment: fixed;
    color: var(--btn-text-color);
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.custom-button1:link{
  color: var(--btn-link-color);
}
.custom-button1:visited{
    color: var(--btn-visited-color);
}
.custom-button1:hover{
    background-color: var(--btn-hover-color);
}
.custom-button1:active{
    color: var(--btn-active-color);
}

.custom-button1.current {
    background-color: var(--btn-hover-color);
}

.current {
    background-color: var(--btn-hover-color);
}

.custom-button2{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    border: 1px var(--container-tertiary-color) solid;
    background-color: var(--container-primary-color);
    color: var(--text-primary-color);
    font-size: 1.2em;
    padding: 5px;
    margin-top: 2px;
    border-radius: 5px;
    font-family: Arial,Helvetica,sans-serif;
}
.custom-button2:link{
    color: var(--text-primary-color);
}
.custom-button2:visited{
    color: var(--text-primary-color);
}
.custom-button2:hover{
    background-color: var(--container-tertiary-color);
    cursor: pointer;
}
.custom-button2:active{
    color: var(--text-primary-color);
}
.custom-button3{
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    background-color: var(--btn-primary-color);
    padding: 12px 5px;
    border:none;
    outline: none;
    height: 100%;
    white-space: nowrap;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    background-attachment: fixed;
    color: var(--btn-text-color);
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.custom-button3:link{
  color: var(--btn-link-color);
}
.custom-button3:visited{
    color: var(--btn-visited-color);
}
.custom-button3:hover{
    background-color: var(--btn-hover-color);
}
.custom-button3:active{
    color: var(--btn-active-color);
}

/* CUSTOM INPUT */

.custom-input1{
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 10px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    font-weight: bold;
    box-shadow: 0px 10px 15px -15px var(--btn-primary-color);
}
.custom-input1:focus{
    box-shadow: 0px 10px 15px -10px var(--btn-primary-color);
}
.custom-input2{
    padding: 2.8% 5px;
    border: none;
    background-color: rgba(0,0,0, 0);
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    font-weight: bold;
}
.custom-input2:focus{
    box-shadow: 0px 10px 15px -15px var(--btn-primary-color);
}

/* SHOW MESSAGES */

.messages-wrap{
    width: 100%;
}
#message-header {
    height: 5%;
    background-color: var(--container-primary-color);
    text-align: center;
    border: 1px solid var(--container-primary-color);
    border-bottom-width: 3px;
    box-sizing: border-box;
}
#message-header a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--text-primary-color);
}
#message-header a:hover {
    color: var(--text-secondary-color);
}
#message-footer {
    border: 1px solid var(--container-primary-color);
    border-top-width: 3px;
    background-color: var(--bg-primary-color);
    height: 8%;
    box-sizing: border-box;
}
#message-footer form {
    height: 100%;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
#message-footer textarea {
    resize: none;
    padding: 10px;
    border: none;
    width: 85%;
    height: 100%;
    box-sizing: border-box;
}
#message-footer input[type=submit] {
    float: right;
    font-weight: bold;
    font-size: 1.2em;
    background-color: var(--bg-primary-color);
    color: var(--btn-primary-color);
    border: none;
    padding: 10px;
    width: 15%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}
#message-footer input[type="submit"]:hover {
    color: var(--btn-hover-color);
}
/* .message-form textarea {
    resize: none;
    padding: 10px;
    height: 100%;
}
 */
#message-container {
    /* background-color: var(--container-tertiary-color); */
    overflow-y: scroll;
    height: 500px;
}
/* width */
#message-container::-webkit-scrollbar {
    width: 10px;
}
/* Track */
#message-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#message-container::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
#message-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.clear-line {
    clear: both;
}
.outgoing-message {
    position: relative;
    background-color: var(--message-outgoing-color);
    margin: 10px 30px 3px 10px;
    padding: 10px;
    text-align: right;
    border-radius: 11px;
    float: right;
    max-width: 70%;
}
.outgoing-message:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: var(--message-outgoing-color);
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}
.ingoing-message {
    position: relative;
    background-color: var(--message-ingoing-color);
    margin: 10px 10px 3px 20px;
    padding: 10px;
    border-radius: 11px;
    max-width: 70%;
    float: left;
}
.ingoing-message:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: var(--message-ingoing-color);
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.sender-profile {
    margin: 10px 0px 10px 10px;
    float: left;
}
.sender-profile img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 30px;
}
.outgoing-message-time {
    float: right;
    font-size: 0.7em;
    color: var(--text-secondary-color);
    margin: 0px 30px 10px 10px;
    clear: both;
    text-align: center;
}
.ingoing-message-time {
    float: left;
    font-size: 0.7em;
    color: var(--text-secondary-color);
    margin: -5px 10px 10px 65px;
    clear: both;
    text-align: center;
}

/* RIGHT BAR START */

#activity-container {
    margin: 7px 0px;
}
.right-content
{
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;	
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.right-bar-list
{
    flex: 1;
    list-style-type: none;
    display: inline;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.right-bar-item
{
    padding: 3px;
    flex: 1;
    margin-bottom: 3px;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
.right-bar-link
{
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 17px;
    flex: 1;
    margin: 0px;
}
.right-bar-item:hover
{
    background-color: var(--message-ingoing-color);
}
.right-bar-subtext
{
    font-size:10px;
    color:var(--text-secondary-color);
    font-style:italic;
}
/* RIGHT BAR END */
/* LEFT BAR CONVERSATION SELECTOR START */
.conversation-selector {
border-bottom: 1px solid var(--message-ingoing-color);
padding: 3px;
box-sizing: border-box;
height: 50px;
}
.conversation-selector:hover {
    background-color: var(--message-ingoing-color);
}
.conversation-pic img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 30px;
}
.conversation-name {
    position: relative;
    text-decoration: none;
    color: var(--text-primary-color);
    bottom: 10px;
}
#conversation-container {
    margin: 7px 0px;
}
#conversation-container a {
    text-decoration: none;
    color: var(--text-primary-color);
}
/* LEFT BAR CONVERSATION SELECTOR END */
/* PROFILE */
#profile-page-container {
    padding: 10px;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
}

.profile-content-divider {
    margin: 10px 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--container-primary-color);
}

.profile-content-divider h3{
    margin: 0px;
    padding: 5px 10px;
    border-left: 2px solid var(--container-primary-color);
}

.left-side {
    float: left;
    width: 50%;
    padding: 0px 10px;
    box-sizing: border-box;
}

.right-side {
    float: right;
    width: 50%;
    padding: 0px 10px;
    box-sizing: border-box;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.profile-name {
    font-size: 2em;
    color: var(--subtitle-color);
    cursor: default;
}

#profile-page-container .fa, .smallBtn {
    color: var(--subtitle-color);
    cursor: pointer;
}

#profile-page-container .fa:hover, .smallBtn:hover {
    color: var(--title-color);
}

.readonly {
    background-color: var(--container-secondary-color);
    cursor: default;
}

/* #profile-page-container input[type="text"], #profile-page-container select {
    margin: 3px 0px;
    width: 60%;
    box-sizing: border-box;
} */

.profile-added-items {
    display: inline-block;
    width: 100%;
    margin: 3px 0px;
    padding: 5px;
    height: 30px;
    box-sizing: border-box;
    background-color: var(--container-tertiary-color);
    border: 1px solid var(--title-color);

    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
/*     font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase; */

/*     letter-spacing: .1em; */
}

.profile-added-items select {
    margin: -5px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 90%;
    box-sizing: border-box;
    cursor: pointer;

    text-align-last: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
}

.profile-added-items select:hover {
    background-color: var(--container-tertiary-color);
}

.profile-added-items select option {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.profile-gender-btn {
    position: relative;
    top: -5px;
    left: -5px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: calc(100% + 10px);
    box-sizing: border-box;
    cursor: pointer;

    text-align-last: center;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
}

.profile-gender-btn:hover {
    background-color: var(--btn-hover-color) !important;
}


.profile-gender-btn.current {
    background-color: var(--btn-hover-color) !important;
}


.profile-added-items .full-scale-btn {
    margin: -5px;
}

#profile-page-container button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.input-describer {
    display: inline-block;
    margin: 3px 3px 3px 0px;
    width: 60%;
    box-sizing: border-box;
}

.field-container {
    display: inline-block;
    margin: 6px;
    width: 100%;
    box-sizing: border-box;
}

.settings-title {
    text-align: center;
    text-decoration: underline;
}

#contact-buddy .fa {
    margin: 5px;
    font-size: 2em;
}